:root {
    --main-black-color: #000000;
    --main-yellow-color: #F0F511;
    --main-blue-color: #0317CD;
    --main-white-color: #F5F5F5;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 32rem;
    background-color: var(--main-black-color);
    font-family: 'Inter', sans-serif;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem;
    margin: 5rem 4rem;
}
.hero ul {
    list-style: none;
    place-self: center;
}
.hero-name h1 {
    color: var(--main-white-color);
}
.hero-name-position p {
    margin-top: 1rem;
    font-weight: 600;
    color: var(--main-white-color);
}
.hero-menu-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-yellow__circle {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin: -14rem 0 0 -4rem;
    background-color: var(--main-yellow-color);
    position: absolute;
    z-index: -1;
}
.main-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.blue-triangle {
    height: 0;
    width: 0;
    border-left: 15rem solid var(--main-blue-color);
    border-top: 10rem solid transparent;
    border-bottom: 10rem solid transparent;
}
.main-description__parraf {
    font-weight: 600;
    color: var(--main-white-color);
    margin: 8rem 3rem;
    text-align: justify;
}